<section
  id="contacto"
  class="bg-gradient-to-b from-gray-900 to-black py-20 px-4 sm:px-6 lg:px-32"
>
  <div>
    <h2 class="text-3xl font-semibold text-center text-white select-none mb-20">
      Contacto
    </h2>
  </div>

  <!-- Contenedor flex que en móvil es columna y en md+ fila -->
  <div class="flex flex-col md:flex-row pb-32">
    <!-- WhatsApp -->
    <a
      href="https://wa.me/34652308033"
      target="_blank"
      rel="noopener noreferrer"
      class="flex w-full md:w-1/4 justify-center items-center gap-3 mb-6 md:mb-0"
    >
      <img src="whatsapp.svg" alt="WhatsApp" class="w-10 h-10" />
      <p class="text-xl font-semibold text-gray-100">+34 652 30 80 33</p>
    </a>

    <!-- Email -->
    <a
      href="mailto:danyflom27@gmail.com"
      class="flex w-full md:w-1/4 justify-center items-center gap-3 mb-6 md:mb-0"
    >
      <img src="gmail.svg" alt="Gmail" class="w-10 h-10" />
      <p class="text-xl font-semibold text-gray-100">danyflom27@gmail.com</p>
    </a>

    <!-- LinkedIn -->
    <a
      href="https://www.linkedin.com/in/danielflorezmorales/"
      target="_blank"
      rel="noopener noreferrer"
      class="flex w-full md:w-1/4 justify-center items-center gap-3 mb-6 md:mb-0"
    >
      <img src="linkedin.svg" alt="LinkedIn" class="w-10 h-10" />
      <p class="text-xl font-semibold text-gray-100">Daniel Flórez Morales</p>
    </a>

    <!-- GitHub -->
    <a
      href="https://github.com/daniflorezm"
      target="_blank"
      rel="noopener noreferrer"
      class="flex w-full md:w-1/4 justify-center items-center gap-3"
    >
      <img src="github_dark.svg" alt="GitHub" class="w-10 h-10" />
      <p class="text-xl font-semibold text-gray-100">daniflorezm</p>
    </a>
  </div>

  <footer class="flex justify-center">
    <p class="text-white">© 2025 DaniDev. Todos los derechos reservados.</p>
  </footer>
</section>
