---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<header
  class="w-full sticky top-0 z-50 bg-[#172b52]/50 backdrop-blur-md transition-all duration-300"
>
  <nav class="max-w-7xl mx-auto px-6 py-4 flex justify-center items-center">
    <div class="flex gap-x-10 items-center">
      <a
        class="text-white font-semibold hover:bg-white/5 rounded-md px-4 py-2 transition-colors"
        href="/">Daniel Flórez</a
      >
      <a
        class="text-white font-semibold hover:bg-white/5 rounded-md px-4 py-2 transition-colors"
        href="/servicios">Servicios</a
      >
      <a
        class="text-white font-semibold hover:bg-white/5 rounded-md px-4 py-2 transition-colors"
        href="/proyectos">Proyectos</a
      >
      <a
        class="text-white font-semibold hover:bg-white/5 rounded-md px-4 py-2 transition-colors"
        href="/contacto">Contacto</a
      >
    </div>
  </nav>
</header>

<style></style>
